
html, body {
    margin: 0;
}

/* Navbar */
.nav {
    /* phần tử đặt chiều cao của background-color*/
    min-height: 42px;
    background-color: #EF5122;
    display: flex;
    /*câu lệnh để cách chữ, đồng thời cách dòng ra */
    justify-content: space-between;
}

.nav-list {
    padding-left: 0;
    margin: auto 16px;
}


.nav-item {
    color: #fff;
    /* để xóa đi tất cả dấu chấm trước đó */
    list-style: none;
    margin: 0 8px;
    /* để các chữ cùng nằm trên một hàng ngang thì sử dụng */
    display: inline-block;
}

/* form__layout */
.form-container {
    max-width: 900px; /*chiều dài của toàn bộ layout trong flex-container*/ 
    padding: 32px;
    margin: 36px auto 0 auto;
    background-color: #facfcf;
}

.form__row {
    padding: 8px; 
    display: flex;
    /* display: inline-flex;  inline: cùng một hàng */
}

.form__label  {
    min-width: 90px; /*để chiều dài của 2 cột input bằng nhau thì dùng min-width*/
}

.form__input {
    flex: 1; /*nếu có 1 ông flex item thì nó sẽ chiếm hết toàn bộ flex container. */
}

.column-layout {
    margin-top: 36px;
    padding: 12px;
    background-color: #e1d6d6;
    display: flex;
}

.column-item {

    /* khoảng cách trên dưới, phải trái của các flex-item */
    padding: 16px 0;
    display: inline-block;
}

.column-item {
    /* cả 3 thằng bằng nhau luôn tại có 3 thằng item cứ kh thằng nào chiếm hết */
    flex: 1;
}


/* trong trường hợp cho ông ở giữa lớn nhât */
.sidebar-one {
    flex: 1
}

.main-column {
    flex: 2;
}

.sidebar-two {
    flex: 1;
}

/* feature layout */
.feature-layout {
    margin-top: 36px;
    display: flex;
    justify-content: space-around;
}

.feature-item {
    padding-top: 12px;
    padding-left: 16px;
    margin-top: 16px;
    /*flex-basic: xác định kích thước của main size  */
    flex-basis: 30%;
}

.feature-item:nth-child(1) {
    background-color: #d15151 
}

.feature-item:nth-child(2) {
    background-color: #555
}
.feature-item:nth-child(3) {
    background-color: #666
}

.wrap-layout {
    background-color: #fff;
    /* cách từ trên xuống dùng margin-top*/
    margin-top: 36px;
    padding: 12px 0 32px 0; /*cách trên dưới phải trái*/
    display: flex; /*để các item nằm trên một hàng ngang*/
    justify-content: space-around; /*cách các item ra một khoảng trong và lề đều bằng nhau*/
    flex-wrap: wrap; /*giúp xuống dòng các item và wrap-reserve: đảo ngược cross start với end*/ 

}

.wrap-layout__item {
    width: 148px;
    height: 90px;
    color: #fff;
    text-align: center;
    line-height: 90px;
    font-size: 48px;
    font-weight: 700;
    margin-top: 20px;
    background-color: #EF5122;
}

/* center layout */

.center-layout {
    background-color: #ffbebe;
    margin: 36px auto 0 auto;
    padding: 32px 0;
    max-width: 640px;
    height: 360px;
    display: flex;
}

.center-layout__item {
    font-size: 42px; /*để biểu diễn phong chữ to, lớn*/
    font-weight: 700px;
    margin: auto;
}

/*chart-layout*/
.Chart-layout {
    margin: 36px auto 0 auto;
    padding: 32px 0;
    height: 320px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap-reverse; */
    /* align-items:flex-end; */
}

.Chart-layout__item {
    width: 60px;
    color: #fff;
    text-align: center; /*đoạn văn bản nay sẽ căn giữa tất cả các đoạn văn bản trong tài liệu HTML.*/
    height: var(--percent); /*chiều cao thì mình biến percent để biểu diễn độ cao của cột*/
    background-color: #EF5122;
    align-self: flex-end;
}