.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0; /* bỏ đi giá trị mặc định của trang web là padding-left: 40px;*/
    margin-top: 4px;
}

.header__navbar-item {
    margin: 0 8px; /*giúp tách chữ của các item ra cho nó đẹp.*/ 
    position: relative;
    /* min-height: 26px; */
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem; /*tương ứng 14px bởi vì 1rem = 62.5% = 10px*/
    text-decoration: none;
    color: var(--white-color);
    font-weight: 300;
}

.header__navbar-list,
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex; 
    /*mục đích để icon và chữ nằm ở trên một hàng ngang.*/
    align-items: center;
    text-decoration: none;
}
.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover
 { /*hover: giúp bạn có thể thay đổi màu sắc khi di chuyển chuột vào nó.*/
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--strong { /*tiêu chuẩn Bem: block_element--monifier*/
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px; /*cách 1 để tạo ra thanh gạch | */
    height: 12px; /*kích thước chìu dọc của thanh là 12px*/
    background-color: #fb9086;
    /* border-left: 1px solid #fb9086;  //cách 2 để tạo gạch ngang. */
    right: -10px;
    top: 50%;
    transform: translateY(-50%); /*điều này có nghĩa là giảm kích thước chiều cao đi còn 6px.*/
}

.header__navbar-item--has-qr:hover .header_qr { /*thẻ header_qr là thẻ con của header__navbar-item--has-qr*/
    display: block; /*hiển thị dạng khối*/
}

.header__navbar-icon-link,
.header__navbar-item-link {
    color: #fff;
    margin-top: 1px;
}

.header__navcar-icon {
    font-size: 1.8rem;
    margin: 0px 4px; /*trên dưới - phải trái*/
}

.header__navbar-item-title--no-poiter {
    cursor: text; /*thay đổi biểu tương của con trỏ từ bàn tay thành con trỏ chuột...*/
    color: var(--white-color)
}

.header__navbar-item--strong {
    margin-top: 1px;
}

/*Header QR code*/
.header_qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 140%;
    padding: 8px;
    border-radius: 2px;
    display: none; /*ẩn Qr khỏi layout, cần phải viết thêm lớp giả hover.*/
    /* margin-top: -13px */ 
    animation: fadeIn ease-in 0.25s;
}

.header_qr::before { /*tạo một lớp mói bằng lớp QR để thực hiện bắt cầu*/
    position: absolute; /*lớp màu trắng hiện ra trên website khi chúng ta dí chuột.*/
    left: 0;
    top: -15px;
    width: 100%; /*chiều ngang bằng chính thằng QR*/
    height: 20px;
    content: "";
    display: block;
    /* background-color: red; thành trong suốt */
}


.header__qr-img {
    width: 100%;
}

.header__qr-download-img {
    /* width: 79px;  */
    height: 17px;
}
.header__qr-link {
    text-decoration: none;
}
.header__qr-apps {
    display: flex;
    justify-content: space-between;
   padding-top: 4px;
}

.header__qr-link:nth-child(1) { /*css cho thành phần đầu tiên*/
    margin-left: 11px;
}
.header__qr-link:nth-child(2) {
    margin-right: 11px;

}
