.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0; /* bỏ đi giá trị mặc định của trang web là padding-left: 40px;*/
    margin-top: 4px;
}

.header__navbar-item {
    margin: 0 8px; /*giúp tách chữ của các item ra cho nó đẹp.*/ 
    position: relative;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem; /*tương ứng 14px bởi vì 1rem = 62.5% = 10px*/
    text-decoration: none;
    color: var(--white-color);
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link,
.header__navbar-item--strong {
    /* display: inline-flex;  */
    /*mục đích để icon và chữ nằm ở trên một hàng ngang.*/
    align-items: center;
    text-decoration: none;
}
.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover { /*hover: giúp bạn có thể thay đổi màu sắc khi di chuyển chuột vào nó.*/
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--strong { /*tiêu chuẩn Bem: block_element--monifier*/
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px; /*cách 1 để tạo ra thanh gạch | */
    height: 12px; /*kích thước chìu dọc của thanh là 12px*/
    background-color: #fb9086;
    /* border-left: 1px solid #fb9086;  //cách 2 để tạo gạch ngang. */
    right: -10px;
    top: 50%;
    transform: translateY(-50%); /*điều này có nghĩa là giảm kích thước chiều cao đi còn 6px.*/
}

.header__navbar-icon-link,
.header__navbar-item-link {
    color: #fff;
    margin-top: 1px;
}

.header__navcar-icon {
    font-size: 1.8rem;
    margin: 0px 4px;
}

.header__navbar-item-title--no-poiter {
    color: var(--white-color)
}